{% csrf_token %}
<div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" required />
</div>
<div class="form-group">
    <label for="textarea">Description</label>
    <textarea class="form-control" id="textarea" rows="3" name="description" required></textarea>
</div>
<div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="has-been-read" name="has_been_read"/>
    <label class="form-check-label" for="has-been-read">Has been read?</label>
</div>
<button type="submit" class="btn btn-primary">Submit</button>