{% extends 'shared/base.html' %}

{% block title %}
Home - Booky
{% endblock %}

{% block intro %}
<h1>Welcome to Booky</h1>
<p>Use the navigation bar above to manage your books.</p>
{% endblock %}

{% block content %}
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Title</th>
            <th>Read?</th>
        </tr>
    </thead>
    <tbody>
        {% if books %}
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>
                {% if book.has_been_read %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>No books</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}